@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --vsb-color: #00A499;
}

.color-vsb {
    color: var(--vsb-color);
}

.bg-vsb {
    background-color: var(--vsb-color);
}

.border-vsb {
    border-color: var(--vsb-color);
}

@keyframes skeleton {
    50% {
        opacity: .5;
    }
}
.animate-skeleton {
    animation: skeleton 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}